<html>

<head>
    <title>Data Journalism</title>
</head>

<body>
    <h1>NYC Math State Test Scores</h1>
    <text>Looking at the progression of math state test scores from 2013-2023, with breakdowns by school districts and financial situation of students</text>
    <br>
    <a href="https://data.cityofnewyork.us/Education/Math-Test-Results-2013-2023/74kb-55u9/about_data">Data from NYC Open Data</a>
    <br>
    <a href="https://github.com/avirtucio/dataJournalism/blob/main/dataJournalism/data/data_format.py">data_format.py</a>

</body>

</html>